/* reset css */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* font url */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* header  */

/* #head{
    margin: auto;
    padding: 12px;
    background-color: rgba(126, 126, 126, 0.322);
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    text-align: center;
} */


.area{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background: #1A1A1D;
}

.drag-area{
  border: 2px dashed #fff;
  height: 365px;
  width: 602px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #0e0e0e;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* section-contaner */
#services-about{
  display: flex;
  font-family: "Poppins", sans-serif;
}

#services-about .box-about{
  border: 1px solid black;
  border-radius: 12px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: large;
  margin: 21px 74px 3px;
  padding: 73px;
}
/* project by  */
#services{
  display: flex;
  margin: 10px;
}
#services .box{
  border: 1px solid black;
    border-radius: 12px;
    margin: 0px 34px;
    padding: 43px;
    
}
#sevices img{
  display: block;
  margin: auto;
  height: 150px;
}




/* utility classes */
.h-primary{
  font-size: 30px;
  padding: 27px;
  font-family: "Poppins", sans-serif;
}
.h-secondary{
  font-size: 30px;
  padding: 12px;
  font-family: "Poppins", sans-serif;
}
.center{
  text-align: center;
}